:root {
    --color-transparent: transparent;
    --color-black: #2e2e2e;
    --color-secondary: #75829e;
    --color-white: #ffffff;
    --color-accent: #2b68d1;
    --color-red-3: #f1bebc;
    --color-red-8: #f55550;
    --color-red-10: #f22b24;
    --color-red-11: #d1251f;
    --color-red-12: #880d0a;
    --color-gray-0: #f9f9fa;
    --color-gray-1: #ededef;
    --color-gray-2: #e0e1e3;
    --color-gray-4: #c2c4c8;
    --color-gray-8: #676c76;
    --color-gray-9: #3a404a;
    --color-blue-dark: #013247;
    --color-blue-primary: #02587d;
    --color-blue-light: #0495d4;
    --color-blue-extra-light: #c1d6df;
    --color-blue-0: #f8f9fb;
    --color-blue-1: #eff2f6;
    --color-blue-2: #dbe1ec;
    --color-blue-3: #cad3e4;
    --color-blue-4: #b8c4da;
    --color-blue-5: #9a9fad;
    --color-blue-6: #8da1c4;
    --color-blue-9: #454b63;
    --color-blue-10: #303751;
    --color-blue-11: #1a223e;
    --color-green-6: #04b589;
    --color-green-8: #037b5d;
    --color-green-100: #43c98f;

    --header-height: 108px;

    --font-family-primary: 'Lato', sans-serif;
    --font-family-headings: 'TT Norms Pro', sans-serif;

    --font-weight-bold: bold;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: normal;
}

