@font-face {
    font-family: 'TT Norms Pro', sans-serif;
    src: url('../typography/TT_Norms_Pro_ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro', sans-serif;
    src: url('../typography/TT_Norms_Pro_Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../typography/Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../typography/Lato-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../typography/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../typography/Lato-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
